{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Account{% endblock %}

{% block body %}
    <h1>Account</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ account.id }}</td>
            </tr>
            <tr>
                <th>Iban</th>
                <td>{{ account.iban }}</td>
            </tr>
            <tr>
                <th>Balance</th>
                <td>{{ account.balance }}</td>
            </tr>
        </tbody>
    </table>

    {% include 'account/_deposit_form.html.twig' with {'form': depositForm} %}

    <a href="{{ path('account_index') }}">back to list</a>
{% endblock %}
