{% extends 'base.html.twig' %}

{% block title %}AccountHolder index{% endblock %}

{% block body %}
    <h1>AccountHolder index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for account_holder in account_holders %}
            <tr>
                <td>{{ account_holder.id }}</td>
                <td>{{ account_holder.name }}</td>
                <td>
                    <a href="{{ path('account_holder_show', {'id': account_holder.id}) }}">show</a>
                    <a href="{{ path('account_holder_edit', {'id': account_holder.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('account_holder_new') }}">Create new</a>
{% endblock %}
