{% extends 'base.html.twig' %}

{% block body %}
    <h1>Transaction List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Origin</th>
                <th>Target</th>
                <th>Reference</th>
                <th>Authorization</th>
                <th>SubmitterId</th>
                <th>Amount in ct</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.id }}</td>
                <td>
                    {% if transaction.origin %}
                        {{ transaction.origin.iban }}
                    {% else %}
                        none
                    {% endif %}
                </td>
                <td>
                    {% if transaction.target %}
                        {{ transaction.target.iban }}
                    {% else %}
                        none
                    {% endif %}
                </td>
                <td>{{ transaction.reference }}</td>
                <td>{{ transaction.authorization }}</td>
                <td>{{ transaction.submitterId }}</td>
                <td>{{ transaction.amount }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
